{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Détails du compte-rendu
{% endblock %}

{% block content %}

	<div class="flex justify-center">

		<div class="bg-white border-4 border-gray-900 rounded-lg w-1/2 m-5">
			<div class="m-5">
				<h5 class="text-xl text-gray-900 flex justify-center">
					Compte rendu num :
				</h5>
				<p>
					Nom :
				</p>
				<p>
					Ville :
				</p>
				<p>
					Date Visite :
				</p>
				<p>
					Date Rédaction :
				</p>
				<p>
					Coefficients de confiance :
				</p>
				<p>
					Motifs :
				</p>
				<p>
					Bilan :
				</p>
				<textarea class="h-auto select-none w-full border-gray-900 rounded-lg resize-none bg-gray-200" readonly></textarea>
				<p>
					Matricule :
				</p>
			</div>
		</div>
	</div>
{% endblock %}
